* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
}

.container {
  background-color: #1e1e1e;
  color: antiquewhite;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 1px 2px black;
}

h1,
h2 {
  margin-bottom: 20px;
}

#product-list {
  margin-bottom: 30px;
}
#product-list li {
  list-style: none;
  /* display: flex;
  justify-content: space-between; */
}

.product {
  background-color: #333333;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.product span {
  display: block;
  padding-right: 20px;
}

.product button {
  background-color: #6200ea;
  border: none;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product button:hover {
  background-color: #3700b3;
}

#inside-cart {
  margin-bottom: 20px;
}

#cart-items span {
  display: block;
  padding-right: 20px;
}

#cart-items button {
  background-color: #ea0033;
  border: none;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#cart-items button:hover {
  background-color: #b30000;
}

#cart-total {
  text-align: right;
}

#checkout-btn {
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #6200ea;
  color: aliceblue;
  transition: background-color 0.3;
}

#checkout-btn:hover {
  background-color: #3700b3;
}

.hidden {
  display: none;
}
