* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  color: rgb(12, 86, 86);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: rgb(6, 121, 121);
  text-decoration: underline;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  background-color: black;
  color: #fff;
  /* margin: 5px; */
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.selectionBox {
  width: 30%;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.inputBox {
  width: 70%;
}

#priority {
  padding: 10px;
  margin-right: 4px;
  border-radius: 5px;
  background-color: #333333;
  color: #fff;
  border: none;
  outline: none;
  margin-left: 5px;
}

#input-box {
  padding: 10px;
  margin-right: 4px;
  border-radius: 5px;
  background-color: #333333;
  color: #fff;
  border: none;
  width: 65%;
  outline: none;
}

#add-task-btn {
  padding: 10px;
  margin-right: 4px;
  border-radius: 5px;
  background-color: #6200ea;
  color: #fff;
  font-weight: bold;
  border: none;
  /* width: 25%; */
  outline: none;
  cursor: pointer;
}

#add-task-btn:hover {
  background-color: #3700b3;
}
ul {
  list-style-type: none;
  padding: 0;
}

.infoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #3fceeb;
  color: black;
  font-weight: bold;
}

li {
  background-color: #333333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
span {
  cursor: pointer;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

li button {
  background-color: #f32020;
  border: none;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

li button:hover {
  background-color: #d42121;
}
