* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  margin-top: 5px;
  color: aliceblue;
  font-size: 24px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#city-input {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  width: 70%;
  outline: none;
  background-color: #333333;
  color: aliceblue;
}

#get-weather-btn {
  width: 25%;
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #6200ea;
  color: aliceblue;
  transition: background-color 0.3;
}

#get-weather-btn:hover {
  background-color: #3700b3;
}

#weather-info {
  color: aliceblue;
}

#weather-info h2 {
  /* margin-bottom: 10px; */
  padding: 10px;
}

#weather-info p {
  /* margin-bottom: 10px; */
  padding: 5px;
}

.Hidden {
  display: none;
}

#error-message {
  color: #ff5722;
  margin-top: 20px;
}
